.fixed-bottom {
    background-color: black;
    padding: 10px;
}

#emojiPicker {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 0; /* Adjust this value to your preference */
}

#messsages {
    max-height: 70vh;
    overflow-y: auto;
}

#users {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
    gap: 10px; /* Adds space between user items */
}

.user {
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    /* Optionally add more styling here */
}
