.fixed-bottom {
    background-color: black;
    padding: 10px;
}

.fixed-bottom .row {
    margin: 0;
    padding: 0 15px; /* Adjust the padding if needed */
}

.fixed-bottom .input-group {
    flex-grow: 1;
}

.fixed-bottom .d-flex {
    flex-wrap: nowrap;
}

#emojiPicker {
    display: none;
    position: absolute;
    bottom: 50px;
    right: 0; /* Adjust this value to your preference */
}

#messages {
    max-height: 70vh;
    overflow-y: auto;
}

#users {
    display: flex;
    flex-wrap: wrap; /* Allows wrapping to the next line if necessary */
    gap: 10px; /* Adds space between user items */
}

.user {
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    /* Optionally add more styling here */
}

.input-group {
    display: flex;
    flex-grow: 1;
}

.input-group input[type="text"] {
    flex: 1;
}

.input-group button {
    cursor: pointer;
}

.message img, .message video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 5px 0;
}

.message a {
    color: blue;
    text-decoration: underline;
}

