/* groupmembers.css */

.navbar {
    justify-content: center;
    position: relative;
}

.navbar-brand {
    color: #fff;
}

#back {
    position: absolute;
    left: 10px;
    color: #fff; /* Bright red color for contrast */
}

#back::before {
    content: "< ";
    font-weight: bold;
    color: #fff;
}